[Unit]
Description=InGrid Harvester
After=network.target

[Service]
Environment=NODE_ENV=production
User=ingrid
WorkingDirectory=/opt/ingrid/ingrid-harvester
ExecStart=/usr/local/bin/pm2 start ./app/index.js -- --profile=ingrid
ExecStop=/usr/local/bin/pm2 delete ./app/index.js
ExecReload=/usr/local/bin/pm2 restart ./app/index.js -- --profile=ingrid
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
