<form [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="CKAN Basis URL" formControlName="ckanBaseUrl" required>
  </mat-form-field>

  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
    <app-chip-list [list]="model.filterTags"
                   placeholder="Filter Tags"
                   (update)="model.filterTags = $event"></app-chip-list>


    <app-chip-list [list]="model.filterGroups"
                   placeholder="Filter Groups"
                   (update)="model.filterGroups = $event"></app-chip-list>
  </div>

  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
    <mat-form-field fxFlex>
      <input matInput placeholder="Bereitgestellt durch (Präfix)" formControlName="providerPrefix" autocomplete="off">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Bereitgestellt durch (CKAN-Feld)</mat-label>
      <mat-select formControlName="providerField">
        <mat-option value="maintainer">maintainer</mat-option>
        <mat-option value="organization">organization</mat-option>
        <mat-option value="author">author</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <app-chip-list [list]="model.dateSourceFormats"
                 placeholder="Datumsformate"
                 (update)="model.dateSourceFormats = $event"></app-chip-list>

  <h4>Default-Lizenz</h4>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between" formGroupName="defaultLicense">
    <mat-form-field fxFlex="10">
      <input matInput placeholder="ID" formControlName="id">
    </mat-form-field>
    <mat-form-field fxFlex="45">
      <input matInput placeholder="Titel" formControlName="title">
    </mat-form-field>
    <mat-form-field fxFlex="45">
      <input matInput placeholder="URL" formControlName="url">
    </mat-form-field>
  </div>
</form>
