:host ::ng-deep .mat-tab-group .mat-tab-body-wrapper {
  padding-top: 20px;
  overflow: hidden !important;
  height: 100%;
}

:host ::ng-deep .mat-tab-body-active{
  overflow: hidden !important;
}


mat-tab-group {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden !important;
}

