// Import _variables.css to the component's sass file where you want to use it.
@import "~src/variables";

.align-center {
  text-align: center;
}

.progress-description {
  padding-top: 10px;
}

.numberCircle {
  font-size: 32px;
  margin-top: 10px;

  width: 2em;
  height: 2em;

  background: #fff;
  //border: 0.1em solid #666;
  color: #666;
  text-align: center;
  border-radius: 50%;

  line-height: 2em;
  box-sizing: content-box;
}
.error {
  background-color: $error;
  color: white;
}
.warning {
  background-color: $warn;
  color: white;
}

.info-cards ::ng-deep .mat-card-header-text {
  padding-top: 22px;
}
