<h2 mat-dialog-title>{{dialogTitle}}</h2>
<mat-dialog-content>
  <mat-expansion-panel *ngFor="let status of data.status" hideToggle [id]="'status-' + status.code">
    <mat-expansion-panel-header>

      <mat-panel-title>
        {{status.code}}{{getLabelForStatus(status.code)}} ({{status.url.length}})
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngFor="let url of status.url">
      <div style="max-width: 90%; overflow: hidden; white-space: nowrap;  text-overflow: ellipsis;"
           title="{{url.attribution[0].name}}: {{url.url}}">
        <span (click)="goToPortal(url.url)" style="cursor:pointer;">
          {{url.url}}</span>
      </div>
    </ng-container>
  </mat-expansion-panel>
  <br>
  </mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
