<mat-toolbar color="primary">
  <span>Harvester Admin GUI</span>

  <!-- This fills the remaining space of the current row -->
  <span class="toolbar"></span>

  <span *ngIf="isLoggedIn">
    <button mat-raised-button color="primary" title="Logout" (click)="logout()" data-test="logout">
      <mat-icon aria-hidden="false" aria-label="logout">lock</mat-icon>
      {{authService.currentUserValue.firstName}} {{authService.currentUserValue.lastName}}
    </button>
  </span>
</mat-toolbar>

<mat-sidenav-container class="navigation">
  <mat-sidenav mode="side" disableClose opened *ngIf="isLoggedIn">
    <div fxFlex fxLayout="column">
      <mat-action-list>
        <button mat-list-item routerLink="/config" routerLinkActive="active-link" data-test="menu-config">
          Konfiguration
        </button>
        <button mat-list-item routerLink="/harvester" routerLinkActive="active-link" data-test="menu-harvester">
          Harvester
        </button>
        <button mat-list-item routerLink="/indices" routerLinkActive="active-link" data-test="menu-indices"> Indizes
        </button>
        <button mat-list-item routerLink="/log" routerLinkActive="active-link" data-test="menu-log"> Log</button>
      </mat-action-list>

      <div fxFlex></div>

      <div class="version">Version: {{(version | async)?.version}}</div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
