<div fxLayout="row">
  <mat-list fxFlex="50" class="list-hover">
    <div fxLayout="row">
      <div fxFlex></div>
    <input type="file" #indexUpload id="indexUpload" name="harvesterUpload" (change)="importIndex(this.indexUpload.files)" accept="json/*.json" style="display:none;" />
    <button id="importIndex" mat-flat-button (click)="this.indexUpload.click()" data-test="importIndex">Import</button>
    </div>
    <h3 mat-subheader>Existierende Indizes</h3>
    <mat-list-item *ngFor="let index of indices | async" (click)="sendSearchRequest(index.name)">
      <h4 mat-line>{{index.name}}</h4>
      <p mat-line>Dokumente: {{index.numDocs}}</p>
      <button mat-button (click)="exportIndex(index.name)" data-test="exportIndex">Export</button>
      <button mat-icon-button (click)="deleteIndex(index.name)">
        <mat-icon mat-list-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

  <mat-card fxFlex="50">
    <mat-card-header>
      <mat-card-title>Inhalt</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <pre>{{searchResult | async | json}}</pre>
    </mat-card-content>
  </mat-card>
</div>
