:host {
  display: block;
  padding: 20px;
}

.mat-fab-bottom-right {
  position: fixed;
  right: 35px;
  bottom: 16px;
  z-index: 100;
}

mat-expansion-panel {
  margin-bottom: 20px;
}

mat-expansion-panel-header {
  padding-left: 0;
}

.mat-slide-toggle {
  height: 48px;
  padding: 0 20px;
}

::ng-deep mat-slide-toggle .mat-slide-toggle-thumb-container {
  cursor: pointer;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.material-icons.inline-valigned {
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
  height: auto;
  width: auto;
  margin-bottom: 0.15em;
}

.success {
  color: #5dc57b;
}

.warning {
  color: #ff9e00;
}

.flex-space {
  flex: 1 1 auto;
}

mat-action-row {
  padding-left: 8px;
}

.lastExecution, .nextExecution {
  color: #d2d2d2;
}

.lastExecution {
  float: left;
}

.nextExecution, #btnAddHarvester {
  float: right;
}

mat-spinner {
  margin: 13px 0 0 10px;
}

.no-harvester {
  text-align: center;

  mat-spinner {
    display: inline-block;
  }
}

