<h1 mat-dialog-title>Mapping hinzufügen</h1>
<div mat-dialog-content>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
    <mat-form-field>
      <input matInput placeholder="Quelle" [(ngModel)]="data.source" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ziel" [(ngModel)]="data.target" [matAutocomplete]="auto"
             (ngModelChange)="filterOptions($event)" required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <div class="flex-space"></div>
  <button mat-button color="primary" [mat-dialog-close]="data" [disabled]="!data.source || !data.target">Hinzufügen</button>
</div>
