<button mat-flat-button (click)="exportHarvesterConfig()">Export der Harvester-Konfiguration</button>

<div class="form-wrapper">

  <form #configForm="ngForm">

    <mat-form-field>
      <input matInput type="url" placeholder="Elasticsearch-URL" [(ngModel)]="config.elasticSearchUrl" name="elasticsearchUrl" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Alias-Name" [(ngModel)]="config.alias" name="alias" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Proxy" [(ngModel)]="config.proxy" name="proxy">
    </mat-form-field>

  </form>

  <div class="form-buttons">
    <button mat-button (click)="reset()" data-test="reset">Zurücksetzen</button>
    <div class="flex-space"></div>
    <button mat-button color="primary" (click)="save()" [disabled]="!configForm.form.valid" data-test="save">Speichern</button>
  </div>

</div>
