# .github/workflows/devsecops.yml 
name: DevGuard DevSecOps

on:
    push:

permissions:
    contents: read
    packages: write

jobs:
    find-leaked-secrets:
        uses: l3montree-dev/devguard-action/.github/workflows/secret-scanning.yml@main
        with:
            asset-name: "wemove/projects/ingrid/assets/ingrid-harvester"
            api-url: "https://api.devguard.wemove.com"
            web-ui: "https://devguard.wemove.com"
        secrets:
            devguard-token: "${{ secrets.DEVGUARD_TOKEN }}" # you need to create this secret in your GitHub repository settings

    bad-practice-finder:
        uses: l3montree-dev/devguard-action/.github/workflows/static-application-security-testing.yml@main
        with:
            asset-name: "wemove/projects/ingrid/assets/ingrid-harvester"
            api-url: "https://api.devguard.wemove.com"
            web-ui: "https://devguard.wemove.com"
        secrets:
            devguard-token: "${{ secrets.DEVGUARD_TOKEN }}" # you need to create this secret in your GitHub repository settings

    infrastructure-as-code-scanning:
        uses: l3montree-dev/devguard-action/.github/workflows/iac.yml@main
        with:
            asset-name: "wemove/projects/ingrid/assets/ingrid-harvester"
            api-url: "https://api.devguard.wemove.com"
            web-ui: "https://devguard.wemove.com"
        secrets:
            devguard-token: "${{ secrets.DEVGUARD_TOKEN }}" # you need to create this secret in your GitHub repository settings

    dependency-scanning:
        uses: l3montree-dev/devguard-action/.github/workflows/software-composition-analysis.yml@main
        with:
            asset-name: "wemove/projects/ingrid/assets/ingrid-harvester"
            api-url: "https://api.devguard.wemove.com"
            web-ui: "https://devguard.wemove.com"
        secrets:
            devguard-token: "${{ secrets.DEVGUARD_TOKEN }}" # you need to create this secret in your GitHub repository settings 
